.grid{
    display: flex;
    position: relative;
    width: 640px;
    height: 560px;
    flex-wrap: wrap;
    border-style: solid;
    border-width: thin;
    border-color: darkcyan;

}

.s1{
    position: relative;
    visibility: hidden;
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    display: inline-grid;
}